#home-page, .e1nzilvr1{
    color: #8a728b;
}

section[role=button]{
    background-image: linear-gradient(to right, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    width: 100%;
    height: 150px;
    text-transform: uppercase;
    font-family: system-ui;
    font-weight: bold;
    font-size: 16px;
    color: #372549
}

.e1b2p2ww15 .st-emotion-cache-10sgout.ef3psqc12{
    display: none;
}

.st-d0{
    background-color: #fdfdfd;
}

.st-emotion-cache-1qe3szo{
    font-size: 10.5px;
}

.st-emotion-cache-1fttcpj.e1b2p2ww11{
    width: max-content;
    height: max-content;
}

.st-emotion-cache-9ycgxx.e1b2p2ww12{
    visibility: hidden;
    position: relative;
}

.st-emotion-cache-9ycgxx.e1b2p2ww12:after{
    content: 'DRAG AND DROP HERE';
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.st-emotion-cache-u8hs99.e1b2p2ww14{
    margin:auto;
}

.st-emotion-cache-6qob1r.eczjsme3{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.st-emotion-cache-10sgout.ef3psqc12,.ef3psqc7{
    background-color: #372549 ;
    color: #fdcbf1 ;
}

.st-emotion-cache-10sgout.ef3psqc12:hover,.ef3psqc7:hover{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    color: #372549 ;
}

input[aria-label=Username],input[aria-label=Email],input[aria-label=Password],button[aria-label='Show password text'],button[aria-label='Hide password text'],div[data-testid="textInputRootElement"]{
    background-color: whitesmoke;
}

.e1f1d6gn4{
    padding-top: 10px;
}

/* Table Styles */

thead tr{
    background-color: #C8A2CA;
}
.st-emotion-cache-ugqr0y{
    color: white;
}

td{
    color: #372549;
}

tr:nth-child(2){
    background-color: whitesmoke
}

tbody tr:hover{
    background-color: aliceblue;
    color: white;
}